#contentWrapper {
    padding: 10px;
}

.selectorWrapper {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-start;
}

.selectorWrapper p, .selectorWrapper label {
    margin: 0px;
    font-size: 14px;
    display: inline-block;
}

.textInput, .slider {
    margin-left: 10px;
    display: inline-block;
}

.textInput {
    width: 80px;
}

.slider {
    width: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.radioSelector {
    display: flex;
    align-items: center;
}